/*
	Estilo home 
	-ccortes- DTI
*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Helvetica;
}
body{
	background-color: #9CAFB7;
}
.contenedor{
	margin:0 auto;
	border:2px solid #4281A4;
	background-color: white;
	width: 1024px;
	height:100%;
}
#Menu{
	width: 100%;
	background-color:#4281A4;
	height:45px;
	padding-top:15px;
	padding-left: 20%;
}
.titulo
{
	color:grey;
	text-align: center;
    margin: auto;
    margin-top:1%;
    width: 100%;
}
.ContainerTitle
{
	margin: 0 auto;
}
.button{
 width:80px;
 margin-left: 89.5%;
 margin-bottom: 1%;
 text-decoration:none; 
 text-align:center; 
 padding:8px 16px; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:15px;
 background-color:#4281A4; 
 cursor: pointer;   
 }

 .h{
 	margin-left: 760px;
 	font:20px;
 }