.table_home {
	/*margin:15px;padding:0px;*/
	margin:0 auto;
	width:95%;
	/*box-shadow: 10px 5px #888888;*/
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
	
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}.table_home table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.table_home tr:last-child td:last-child {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
}
.table_home table tr:first-child td:first-child {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}
.table_home table tr:first-child td:last-child {
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
}.table_home tr:last-child td:first-child{
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
}.table_home tr:hover td{
	
}
.table_home tr:nth-child(odd){ background-color:#898785; }
.table_home tr:nth-child(even)    { background-color:#ffffff; }.table_home td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:10px;
	font-family:Helvetica;
	font-weight:normal;
	color:#000000;
}.table_home tr:last-child td{
	border-width:0px 1px 0px 0px;
}.table_home tr td:last-child{
	border-width:0px 0px 1px 0px;
}.table_home tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.table_home tr:first-child td{
		background:-o-linear-gradient(bottom, #0e875b 5%, #0e875b 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0e875b), color-stop(1, #0e875b) );
	background:-moz-linear-gradient( center top, #0e875b 5%, #0e875b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0e875b", endColorstr="#0e875b");	background: -o-linear-gradient(top,#0e875b,0e875b);

	background-color:#0e875b;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Helvetica;
	font-weight:normal;
	color:#ffffff;
}
.table_home tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #0e875b 5%, #0e875b 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0e875b), color-stop(1, #0e875b) );
	background:-moz-linear-gradient( center top, #0e875b 5%, #0e875b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0e875b", endColorstr="#0e875b");	background: -o-linear-gradient(top,#0e875b,0e875b);

	background-color:#0e875b;
}
.table_home tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.table_home tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}